.clientSummary {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 3px;

  display: flex;
  justify-content: space-between;
}

.clientInvoices {
  max-height: 40rem;
  overflow-y: scroll;
}

.clientName {
  font-size: 1.6rem;
  font-weight: 600;
}

.clientDue {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: right;
}

.none {
  color: #999;
}

/* THEMING */
.defaultClientSummary {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.05);
}
.defaultClientSummary:hover {
  filter: brightness(20%);
}

.lightClientSummary {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.05);
}
.lightClientSummary:hover {
  filter: brightness(20%);
}

.darkClientSummary {
  background: rgba(var(--SMARALD-MEDIUM-RGB), 0.5);
}
.darkClientSummary:hover {
  filter: brightness(90%);
}
