.invoiceSummary {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 10rem;
  padding: 1rem;
  border-bottom: 1px solid var(--SMARALD-LIGHT);
}

.invoiceSummary:last-child {
  margin-bottom: 12rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
}

.specifics {
  font-size: 1.2rem;
}

.status {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
  color: var(--FONT-COLOR-LIGHT);
}
.status--issued {
  background: var(--SMARALD-MEDIUM);
}
.status--cashed {
  background: var(--BLUE-LIGHT);
}
.status--delayed {
  background: var(--RED-MEDIUM);
}

.actions {
  position: relative;
}

.actionsIcon {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;
}

.optionsList {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 4rem;
  padding: 1rem 3rem;
  background: var(--BACKGROUNDS-PRIMARY);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 1000;
}

.option {
  cursor: pointer;
  transition: all 0.3s;
}

.showOptions {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.optionsList:hover {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

/* THEMING */
.defaultActions {
  color: var(--GREY-LIGHT);
}
.defaultActions .option:hover {
  filter: brightness(20%);
}
.defaultActions .actionsIcon:hover {
  filter: brightness(20%);
}
.defaultActions .actionsIcon:hover {
  filter: brightness(20%);
}

.lightActions {
  color: var(--GREY-LIGHT);
}
.lightActions .option:hover {
  filter: brightness(20%);
}
.lightActions .actionsIcon:hover {
  filter: brightness(20%);
}

.darkActions {
  color: var(--GREY-LIGHTEST);
}
.darkActions .option {
  filter: brightness(50%);
}
.darkActions .option:hover {
  filter: brightness(20%);
}
.darkActions .actionsIcon:hover {
  filter: brightness(120%);
}
