.button {
  display: inline-block;
  border: 1px solid transparent;
  outline: none;
  font: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background: var(--BUTTON-COLOR-MAIN);
  font-weight: 600;
  color: var(--HEADER-COLOR-TEXT);
  transition: all 0.3s;
}

.button:hover {
  background: var(--BUTTON-COLOR-MAIN--HOVER);
}

.danger {
  background: var(--BUTTON-COLOR-DANGER);
}
.danger:hover {
  background: var(--BUTTON-COLOR-DANGER--HOVER);
}

.inverse {
  background: transparent;
  color: var(--BUTTON-COLOR-MAIN);
  border: 1px solid currentColor;
}
.inverse:hover {
  background: var(--BUTTON-COLOR-MAIN);
  color: var(--HEADER-COLOR-TEXT);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
