.button {
  display: inline-block;
  min-width: 15rem;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  background: var(--BUTTON-COLOR-MAIN);
  font-weight: 500;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
  transition: all 0.3s;
}

.button:hover {
  filter: brightness(120%);
}

.danger {
  background: var(--BUTTON-COLOR-DANGER);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}
.danger:hover {
  filter: brightness(120%);
}

.inverse {
  background: transparent;
  color: var(--BUTTON-COLOR-MAIN);
  border: 1px solid currentColor;
}
.inverse:hover {
  background: var(--BUTTON-COLOR-MAIN);
  color: #fff;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 850px) {
  .button {
    font-size: 1.2rem;
  }
}
