.overlay {
  position: absolute;
  top: 15vh;
  left: 30%;
  width: 40%;
  background: var(--CLOUDS);

  z-index: 100;

  padding: 2rem;
  border-radius: 5px;
}

.header {
  background: var(--REEF);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .overlay {
    top: 10vh;
    left: 5%;
    width: 90%;
  }
}
