.zent {
  letter-spacing: 0.5rem;
  animation: slide-right 1s forwards;
}

.zent sup {
  color: var(--BLUE-LIGHT);
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  animation: appear 2s forwards;
}
@keyframes slide-right {
  from {
    opacity: 0.5;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  grid-column: 1/-1;

  height: 5rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userBar {
  position: relative;
  padding: 0.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.userBarMenu {
  display: flex;
  gap: 2rem;

  font-size: 1.4rem;
}

.headerName {
  display: flex;
  gap: 1rem;
}

.navigationButton {
  height: 3rem;
  width: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;

  display: none;
}

.navigationButton span {
  display: block;

  margin-top: 3px;
  margin-left: 7px;
  width: 2rem;
  height: 2px;
  background: #fff;
}

.logoutBtn {
  color: var(--RED-DARK);
  transition: all 0.3s;
}

.profileLink {
  color: var(--BLUE-DARK);
  transition: all 0.3s;
}

.profileLink,
.logoutBtn {
  display: flex;
  align-items: center;
}
.profileLink span,
.logoutBtn span {
  font-weight: 700;
  opacity: 0.8;
}

.profileLink:hover {
  color: var(--BLUE-MEDIUM);
}
.logoutBtn:hover {
  color: var(--RED-MEDIUM);
}

@media (max-width: 1400px) {
  .navigationButton {
    display: block;
  }

  .header {
    padding: 1rem;
  }
}

/* THEMING */
.defaultHeader {
  background: linear-gradient(
    var(--GREY-MEDIUM) 35%,
    var(--GREY-DARK) 60%,
    var(--GREY-DARKEST)
  );
}
.defaultHeader .zent {
  color: var(--FONT-COLOR-LIGHT);
}
.defaultHeader .profileLink {
  color: var(--BLUE-MEDIUM);
}
.defaultHeader .profileLink:hover {
  color: var(--BLUE-LIGHT);
}

.lightHeader {
  background: var(--SMARALD-LIGHT);
}
.lightHeader .zent {
  color: var(--FONT-COLOR-DARK);
}
.lightHeader sup {
  color: var(--FONT-COLOR-LIGHT);
}

.darkHeader {
  background: linear-gradient(
    var(--GREY-MEDIUM) 35%,
    var(--GREY-DARK) 60%,
    var(--GREY-DARKEST)
  );
}
.darkHeader .zent {
  color: var(--SMARALD-LIGHTEST);
}
.darkHeader .profileLink {
  color: var(--BLUE-MEDIUM);
}
.darkHeader .profileLink:hover {
  color: var(--BLUE-LIGHT);
}
