.header {
  grid-column: 1/-1;

  background: var(--HEADER-COLOR-BACKGROUND);
  color: var(--HEADER-COLOR-TEXT);

  height: 5rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userBar {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.userAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.userAvatar img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.headerName {
  display: flex;
  gap: 1rem;
}

.navigationButton {
  height: 3rem;
  width: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;

  display: none;
}

.navigationButton span {
  display: block;

  margin-top: 3px;
  margin-left: 7px;
  width: 2rem;
  height: 2px;
  background: var(--SIDE-COLOR-BORDERS);
}

@media (max-width: 1000px) {
  .navigationButton {
    display: block;
  }
}
