.mainLayout {
  display: grid;
  grid-template-columns: 15vw 85vw;
  position: fixed;
}

.mainContent {
  height: calc(100vh - 5rem);
  padding: 1rem;
  overflow-y: scroll;
}

@media (max-width: 1400px) {
  .mainContent {
    grid-column: 1/-1;
  }
}

/* THEMING */
.defaultMainContent {
  background: var(--BACKGROUNDS-PRIMARY);
  color: var(--FONT-COLOR-DARK);
}

.lightMainContent {
  background: var(--BACKGROUNDS-PRIMARY);
  color: var(--FONT-COLOR-DARK);
}

.darkMainContent {
  background: var(--BACKGROUNDS-SECONDARY);
  color: var(--FONT-COLOR-LIGHT);
}
