.mainLayout {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
}

.mainContent {
  background: var(--MAIN-COLOR-BACKGROUND);

  height: calc(100vh - 5rem);
  padding: 1rem;
}

@media (max-width: 1300px) {
  .mainLayout {
    grid-template-columns: 2fr 8fr;
  }
}

@media (max-width: 1000px) {
  .mainContent {
    grid-column: 1/-1;
  }
}
