.navigation {
  background: var(--ELECTROMAGNETIC);
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigationList {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navigationItem,
.profileItem {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 3px;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

.navigationItem:hover .icon {
  transform: scale(1.1);
}

.navigationItem:hover .link {
  filter: brightness(300%);
}

.profileItem {
  padding: 1rem;

  transition: all 0.3s;
}

.profileItem:hover {
  border-radius: 3px;
  box-shadow: 0 0 5px 3px var(--BLEU-FRANCE-LIGHTER);
}

.icon {
  color: #fff;
  transition: all 0.2s;
}

.link {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.linkActive {
  background: var(--BLEU-FRANCE);
}

@media (max-width: 2000px) {
  .navigationList {
    padding: 0;
  }
}

@media (max-width: 1600px) {
  .link {
    font-size: 1.2rem;
  }
  .navigationItem,
  .profileItem {
    margin: 1rem;
  }
}
@media (max-width: 1400px) {
  .navigation {
    display: none;
  }
}
