.navigation {
  border-top: 1px solid var(--SIDE-COLOR-BORDERS);
  background: var(--SIDE-COLOR-BACKGROUND);
  color: var(--SIDE-COLOR-TEXT);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigationItem,
.profileItem {
  display: flex;
  gap: 2rem;
  align-items: center;

  border-radius: 3px;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

.navigationItem:hover .icon {
  transform: scale(1.1);
}

.navigationItem:hover .link {
  filter: brightness(300%);
}

.profileItem {
  padding: 1rem;

  transition: all 0.3s;
}

.profileItem:hover {
  border-radius: 3px;
  box-shadow: 0 0 5px 3px var(--PETER-RIVER);
}

.icon {
  color: var(--SIDE-COLOR-TEXT);
  transition: all 0.2s;
}

.link {
  color: var(--SIDE-COLOR-TEXT);
  font-size: 1.4rem;
  transition: all 0.2s;
}

.linkActive {
  background: var(--PETER-RIVER);
}

@media (max-width: 1600px) {
  .link {
    font-size: 1.2rem;
  }
  .navigationItem,
  .profileItem {
    margin: 1rem;
  }
}
@media (max-width: 1000px) {
  .navigation {
    display: none;
  }
}
