.orderItem {
  padding: 1rem;
  border-radius: 5px;
}

.orderItem span {
  font-size: 1.2rem;
}

.orderItem p {
  font-size: 1.4rem;
}

/* THEMING */
.defaultOrderItem {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.5);
}
.defaultOrderItem {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.5);
}
.darkOrderItem {
  background: rgba(var(--SMARALD-MEDIUIM-RGB), 0.5);
}
