.chartMetrics {
  max-width: 130rem;
  margin: 0 auto 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  justify-content: center;
}

.chart {
  width: 50rem;
  height: 20rem;
}

.metricsHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.numberMetrics {
  margin-top: 5rem;

  display: flex;
  gap: 2rem;
  justify-content: center;
}

.numberMetricsGroup {
  border: 2px solid var(--SMARALD-LIGHTEST);
  padding: 2rem;

  width: 30%;
}

.numberMetricsGroup h4 {
  text-transform: uppercase;
  font-size: 2rem;
}

.numberMetricsGroup p {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .card {
    grid-template-columns: 1fr;
  }
}
