.statementItem {
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 3px;

  display: grid;
  grid-template-columns: 8fr 2fr;
  justify-content: space-between;
}

.clientName {
  font-size: 1.6rem;
  font-weight: 600;
}

.clientDue {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: right;
}

@media (max-width: 900px) {
  .statementItem {
    grid-template-columns: 5fr 5fr;
  }
}

/* THEMING */
.defaultStatementItem {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.05);
}
.defaultStatementItem:hover {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.09);
}

.lightStatementItem {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.05);
}
.lightStatementItem:hover {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.09);
}

.darkStatementItem {
  background: rgba(var(--SMARALD-MEDIUM-RGB), 0.5);
}
.darkStatementItem:hover {
  background: rgba(var(--SMARALD-MEDIUM-RGB), 0.6);
}
