.clientItem {
  border-radius: 3px;
  font-size: 1.6rem;
  max-width: 60rem;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.clientItem > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  padding: 0.1rem;
}

.clientItem > *:first-child {
  border-radius: 5px 5px 0 0;
}
.clientItemIcon {
  color: var(--ELECTROMAGNETIC);
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.clientItemIcon:hover {
  opacity: 1;
}

.clientItem div > span {
  width: fit-content;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.clientItem div > p {
  text-align: center;
}

.clientItemNo {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
  padding: 1rem;
}

.clientItemPhone,
.clientItemEmail {
  min-height: 5rem;
}

.clientItemActions {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.clientPhotoContainer {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.clientPhotoContainer img {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}

.rateGroup {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* THEMING */
.defaultClientItem {
  border-bottom: 2px solid var(--BLUE-LIGHT);
}
.defaultClientItem > * {
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.05);
}

.lightClientItem {
  border-bottom: 2px solid var(--BLUE-MEDIUM);
}
.lightClientItem > * {
  background: rgba(var(--SMARALD-MEDIUM-RGB), 0.03);
}

.darkClientItem {
  border-bottom: 2px solid var(--BLUE-MEDIUM);
}
.darkClientItem > * {
  background: rgba(var(--SMARALD-MEDIUM-RGB), 0.3);
}
