.overlay {
  position: absolute;
  top: 15vh;
  left: 35vw;
  width: 45vw;
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2),
    -1rem -1rem 4rem rgba(0, 0, 0, 0.2);

  z-index: 100;

  padding: 2rem;
  border-radius: 5px;

  animation: slide-up 0.2s;
}

.small {
  left: 45vw;
  width: 25vw;
}

.medium {
  left: 40vw;
  width: 35vw;
}

.header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-transform: uppercase;
}

.close {
  cursor: pointer;
  background: rgba(var(--GREY-MEDIUM-RGB), 0.5);
  transition: all 0.3s;
}

.close:hover {
  background: var(--GREY-DARK);
  color: var(--RED-MEDIUM);
  background-blend-mode: overlay;
}

@keyframes slide-up {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1900px) {
  .overlay {
    top: 10vh;
    left: 30vw;
    width: 55vw;
  }
}

@media (max-width: 1400px) {
  .overlay {
    top: 10vh;
    left: 5vw;
    width: 90vw;
  }
}

/* THEMING */
.defaultOverlay,
.lightOverlay {
  background: var(--MODALS-BACKGROUND);
}

.darkOverlay {
  background: var(--GREY-MEDIUM);
  color: var(--FONT-COLOR-LIGHT);
}
