.orderItem {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.responsive {
  display: none !important;
  font-weight: 700;
}

.orderItem span {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  padding: 3px 0;
}

.orderItemIcon {
  color: var(--BLEU-FRANCE-DARKER);
  opacity: 0.7;
  cursor: pointer;
}
.orderItemIcon:hover {
  opacity: 1;
}

.orderItemNo {
  width: 8rem;
}
.orderItemRef {
  width: 15rem;
}
.orderItemClient {
  width: 15rem;
}
.orderItemCount {
  width: 10rem;
}
.orderItemRate {
  width: 8rem;
}
.orderItemReceived {
  width: 15rem;
}
.orderItemDeadline {
  width: 15rem;
}
.orderItemNotes {
  width: 20rem;
}
.orderItemActions {
  width: 10rem;
}

@media (max-width: 1500px) {
  .orderItem > span {
    width: 11rem;
  }
  .orderItemNo,
  .orderItemRate {
    width: 4rem !important;
  }
}

@media (max-width: 1200px) {
  .responsive {
    display: block !important;
  }

  .orderItem > span {
    width: 100%;
  }
}
