.queueList {
  font-size: 1.4rem;
  padding: 2rem;
  max-width: 130rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.queueHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.queueItem {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.queueItem span {
  display: inline-block;
  margin-right: 0.5rem;
}

.orderItemNo {
  width: 8rem;
}
.orderItemRef {
  width: 15rem;
}
.orderItemClient {
  width: 15rem;
}
.orderItemCount {
  width: 10rem;
}
.orderItemRate {
  width: 8rem;
}
.orderItemReceived {
  width: 15rem;
}
.orderItemDeadline {
  width: 15rem;
}
.orderItemNotes {
  width: 20rem;
}
.orderItemActions {
  width: 10rem;
}

@media (max-width: 1500px) {
  .queueItem > span {
    width: 11rem;
  }
  .orderItemNo,
  .orderItemRate {
    width: 4rem !important;
  }
  .queueList {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .queueItem {
    display: none;
  }
  .queueHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}
