.profileHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profileBody {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  padding: 2rem 0;
}

.legalData,
.personalData,
.invoicingData {
  font-size: 1.4rem;
  flex: 1 1 33%;

  display: flex;
  flex-direction: column;
}

.legalData h2,
.personalData h2,
.invoicingData h2 {
  flex-grow: 1;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--BLUE-MEDIUM);
}

.head {
  display: flex;
  /* align-items: center; */
}

.userData {
  display: block;
  min-height: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 1rem;
  cursor: default;
  border-radius: 3px;
  background: rgba(var(--ITEM-BACKGROUNDS-RGB), 0.05);
}

.userActions {
  opacity: 0.5;
  cursor: pointer;

  margin-left: auto;
  transition: all 0.3s;
}

.userActionsIcon {
  transition: all 0.3s;
}

.userActions:hover {
  opacity: 1;
}

/* THEMING */
.darkUserActions {
  color: var(--FONT-COLOR-LIGHT);
}
