/* COLOR KEY FLAT UI v1 PALETTE */
/* 
  --#2c3e50: MIDNIGHT BLUE;
  --#3498db: PETER RIVER;
  --#ecf0f1: CLOUDS;
  --#95a5a6: CONCRETE;
  --#e74c3c: ALIZARIN;
  --#c0392b: POMEGRANATE;

*/

:root {
  --SIDE-COLOR-BACKGROUND: #2c3e50;
  --SIDE-COLOR-BORDERS: #3498db;
  --SIDE-COLOR-TEXT: #ecf0f1;

  --HEADER-COLOR-BACKGROUND: #2c3e50;
  --HEADER-COLOR-BORDERS: #3498db;
  --HEADER-COLOR-TEXT: #ecf0f1;

  --MAIN-COLOR-BACKGROUND: #ecf0f1;
  --MAIN-COLOR-BORDERS: #95a5a6;
  --MAIN-COLOR-TEXT: #2c3e50;

  --BUTTON-COLOR-MAIN: #3498db;
  --BUTTON-COLOR-MAIN--HOVER: #2582c0;
  --BUTTON-COLOR-DANGER: #e74c3c;
  --BUTTON-COLOR-DANGER--HOVER: #c0392b;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,400&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* UTILITY CLASSES */
.marbo-s {
  margin-bottom: 0.5rem;
}
.marbo-m {
  margin-bottom: 1rem;
}
.marbo-l {
  margin-bottom: 1.5rem;
}
.marbo-xl {
  margin-bottom: 2rem;
}
.center {
  text-align: center;
}

/* CSSTransition */
.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
