.error {
  color: red;
}

.input,
.select,
.textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.input:focus,
.textarea:focus,
.select:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  cursor: not-allowed;
}

.select > * {
  font: inherit;
  height: auto;
}

/* THEMING */
.defaultInput {
  background: rgba(0, 0, 0, 0.02);
}

.lightInput {
  background: rgba(0, 0, 0, 0.02);
}

.darkInput {
  background: var(--GREY-LIGHT);
}

.darkInput:focus {
  box-shadow: 0 0 2px 2px rgba(var(--BLUE-MEDIUM-RGB), 0.5);
}
