/* user update profile */
.updateProfileBody {
  margin: 0 auto;
}
/*  */

.modalTitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.modalTitle span {
  font-size: 1.6rem;
  font-weight: 500;
}
