.input,
.textarea {
  display: block;
  font: inherit;
  font-size: 1.4rem;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 0.5rem;
}

.formGroup {
  margin-bottom: 2rem;
}

.formGroup label {
  font-weight: 700;
  font-size: 1.2rem;
}

.formActions {
  font-size: 1.4rem;
  text-align: center;
}

.formActions > * {
  margin-right: 2rem;
}

.modalGroup p,
.modalGroup .input {
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  width: 50%;
  margin: 0 auto;
}

.modalGroup {
  text-align: center;
}

.modalGroup span {
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
}

.flexRow {
  display: flex;
  gap: 1rem;
}
.flexRow > * {
  flex-grow: 1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex > * {
  width: 50%;
}

/* in SettingsModal */
.settings {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid2Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.formActions {
  grid-column: 1 / -1;
}

/* in queue AddOrder */
.addOrder {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.addOrder .formActions {
  grid-column: 1/-1;
}

/* in queue EditModal */
.editOrder {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.editOrder .formActions {
  grid-column: 1/-1;
}

/* in queue CompleteOrder */
.completeOrder {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.completeOrder .formActions {
  grid-column: 1/-1;
}

.required {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
}

/* in client Addmodal */
.addClient {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.addClient .formActions {
  grid-column: 1/-1;
}
.getCompanyData {
  position: relative;
}

.getCompanyData .input {
  width: 100%;
  margin: 0;
}

.getCompanyDataBtn {
  background: var(--BUTTON-COLOR-SECONDARY);
  color: var(--FONT-COLOR-LIGHT);
  padding: 4px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s;

  position: absolute;
  top: 1.75rem;
  right: 0;
}

.getCompanyDataBtn:hover {
  filter: brightness(120%);
}

/* in client EditModal */
.editClient {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.formActions {
  grid-column: 1/-1;
}

.clientAvatar {
  position: relative;
  transform: translateX(calc(50% - 6rem));
  margin-bottom: 3rem;
}

.clientAvatar img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.clientHeader {
  display: flex;
  gap: 2rem;
}

.viewCard {
  margin-bottom: 3rem;
}

.profileAvatar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.profileAvatar img {
  object-fit: cover;
  width: 12rem;
  height: 12rem;
}

.changeClientAvatar {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 1rem;
  background: var(--GREY-MEDIUM);
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.changeClientAvatar:hover {
  background: var(--GREY-LIGHT);
}

/* in user SettingsModal */
.changeProfileAvatar {
  position: absolute;
  color: #fff;
  padding: 1rem;
  background: var(--GREY-MEDIUM);
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.changeProfileAvatar:hover {
  background: var(--GREY-LIGHT);
}
.profileSettings {
  font-size: 1.6rem;
}

.profileSettings > * {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  width: 100%;
}

.profileInput {
  width: 100%;
  display: block;
}

.profileActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 3rem;
}
/*  */

/* cif */
.taxNumberInput {
  width: 20%;
  margin: 1rem auto;
}

/* success/fail */
.success,
.error {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 2rem 0;
}
.success {
  color: var(--BLUE-DARK);
}
.error {
  color: var(--RED-MEDIUM);
}
